# If you are not using docker uncomment these lines
# PORT=4000
# DATABASE_URL=postgresql://postgres:123@localhost:5432/spotify

DATABASE_URL=postgresql://postgres:password@postgres:5432/spotify

FRONTEND_URL=http://localhost:5173

SECRET_KEY='skdnfnfei925903423jfsdkf3'